body {
  text-align: center;
}

h1 {
  padding-top: 10rem;
  color: #66cccc;
  font-size: 1rem;
}

p {
  color: #66cccc;
  font-size: 1.5rem;
}

h2 {
  color: #66cccc;
  padding-top: 10%;
}

.upper {
  background-color: #ffcc00;
  padding: 0;
  margin: 0;
  height: 25rem;
  text-align: center;
}

.middle {
  background-color: #ff6666;
  height: auto;
  text-align: center;
}

.carousel {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 90%;
  margin: auto;
}

.lower {
  background-color: #cc0066;
  height: 25rem;
  margin: auto;
  text-align: center;
}

.pic {
  max-width: 100%;
  height: auto;
}
